@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  align-items: stretch;
  /* Remove vertical centering */
}

main {
  padding-top: clamp(2.5rem, 8vw, 5rem);
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto 0 auto;
    /* Remove vertical centering */
  }
}
